@charset "utf-8";
@import url(../layui/css/layui.css);
* {
    margin: 0px;
    padding: 0px;
    font-family: OpenSans;
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:link {
    cursor: pointer;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100%;
    font: normal 100% Arial, sans-serif;
    /* font-size: 14px;
    font-size: 1.4rem; */
    font-size: 62.5%;
    /* background-color: #eee; */
}

.login-bg {
    /*background: #eeeeee url() 0 0 no-repeat;*/
    background: url(../images/login-bg1.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.login {
    margin: 120px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.login a.logo {
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}

.login .message {
    margin: 10px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #03387f;
    background: #1565cf;
    position: relative;
    color: #fff;
    font-size: 16px;
}

.login #darkbannerwrap {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}

.login input[type=text],
.login input[type=file],
.login input[type=password],
.login input[type=email],
select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 0px 16px;
    font-size: 14px;
    color: #555555;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.login input[type=text]:focus,
.login input[type=file]:focus,
.login input[type=password]:focus,
.login input[type=email]:focus,
select:focus {
    border: 1px solid #27A9E3;
}


/* .login input[type=submit],
.login input[type=button]{
    display: inline-block;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
	background-color: #03387f;
	background-color:#1565cf;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline:none;
    width:100%;
} */

.login hr {
    background: #fff url() 0 0 no-repeat;
}

.login hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.login hr.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.x-body {
    padding: 20px;
}

.x-nav {
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}

xblock {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 22px;
    /* border-left: 5px solid #009688; */
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}

.x-right {
    float: right;
}

.x-so {
    text-align: center;
    margin-bottom: 20px;
}

.x-so input.layui-input {
    width: 190px;
}

.x-so .layui-form-label {
    display: inline-block;
}

.x-so input.layui-input,
.x-so input.layui-btn {
    display: inline-block;
}

.x-red {
    color: red;
}

.page {
    margin-top: 20px;
    text-align: center;
}

.page a {
    display: inline-block;
    background: #fff url() 0 0 no-repeat;
    color: #888;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span {
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}

.page span.current {
    display: inline-block;
    background: #009688 url() 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #009688;
}

.page .pagination li {
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}

.page .pagination li.active span {
    background: #009688 url() 0 0 no-repeat;
    color: #fff;
    border: 1px solid #009688;
}


/*登录样式*/


/*头部*/

.main {
    width: 100%;
    /* height: 65px; */
    height: 67px;
    background-color: #fff;
    /* background-color: #03387f; */
    /* border-bottom: 1px solid rgba(3, 56, 127, 0.2); */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.main .logo {
    padding-top: 0px
}

.main .logo a {
    float: left;
    color: #fff;
    font-size: 18px;
    /* padding-left: 20px; */
    line-height: 65px;
    width: 170px;
    height: auto;
}


/* .logo{float:left;width:264px;height:65px;background:#03387f url(../images/logo1.png) 20px 6px no-repeat} */

.logo a {
    text-indent: 45px;
    height: 58px;
    width: 167px;
    /* color: #fff; */
    /* background: url(../images/RM_logo.svg) no-repeat; */
    margin: 0px 0 0 0px;
    /* box-shadow: rgba(0, 0, 0, .5) 2px 3px 10px;
    border-radius: 10px; */
}

.logo a img {
    width: 100%;
    /* max-width: 140px; */
    height: 100%;
    /* max-height: 28px; */
}

.Smart-Hub-Manager {
    /* width: 369px; */
    width: auto;
    height: 43px;
    /* line-height: 52px; */
    font-family: OpenSans;
    font-size: 38px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #861f41;
    color: grape-purple;
    margin-top: 7px;
}

.Smart-Hub-Manager:hover {
    color: #861f41;
}

.layui-nav .layui-nav-more {
    margin-top: 6px;
}

.layui-nav .layui-nav-more {
    margin-top: 8px;
}

.main .right {
    background-color: rgba(0, 0, 0, 0);
    float: right;
}

.main .left_open {
    height: 45px;
    margin-top: 6px;
    margin-left: 30px;
    float: left;
}

.main .left_open i {
    display: block;
    background: rgba(255, 255, 255, 0.1) url() 0 0 no-repeat;
    color: #000;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    margin-top: 7px;
    cursor: pointer;
}

.main .left_open i:hover {
    background: rgba(255, 255, 255, 0.3) url() 0 0 no-repeat;
}

.main .left {
    background-color: rgba(0, 0, 0, 0);
    float: left;
}

.main .layui-nav-item {
    line-height: 65px;
}

.main .layui-nav-more {
    top: 20px;
}

.main .layui-nav-child {
    top: 50px;
}

.main .layui-nav-child i {
    margin-right: 10px;
}


/* .layui-nav .layui-nav-item a {
    color: #fff;
} */

.layui-nav .layui-nav-child a {
    color: #333;
    padding-left: 30px;
}

.left-nav {
    position: absolute;
    /* top: 66px; */
    top: 77px;
    bottom: 42px;
    bottom: 32px;
    left: 0;
    z-index: 2;
    padding-top: 20px;
    /* background-color: #EEEEEE;
    background-color: #fff; */
    background-color: #fcfcfc;
    /* background: transparent; */
    /* width: 280px;
    max-width: 280px; */
    width: 407px;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #e5e5e5;
    padding-top: 0;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    /*width: 0px;*/
}

#side-nav {
    margin-top: 20px;
    margin-left: 68px;
}

.left-nav #nav li {
    /* border-bottom: 1px solid #e5e5e5; */
}

.left-nav #nav li:last-child {
    border-bottom: 0px solid #e5e5e5;
}


/* .left-nav #nav li:hover>a {
    color: blue;
} */

.left-nav #nav .current {
    background-color: rgba(0, 0, 0, 0.3);
}

.left-nav #nav li a {
    padding: 20px 0px 20px 0px;
    display: block;
    cursor: pointer;
}

.left-nav #nav li .sub-menu {
    display: none;
}

.left-nav #nav li .opened {
    display: block;
}


/* .left-nav #nav li .opened:hover {
    background: #fff url() 0 0 no-repeat;
}

.left-nav #nav li .opened .current {}

.left-nav #nav li .sub-menu li:hover {
    color: blue;
    background: #fff url() 0 0 no-repeat;
} */

.left-nav #nav li .sub-menu li a {
    padding: 12px 15px 12px 30px;
    font-size: 14px;
    cursor: pointer;
}

.left-nav #nav li .sub-menu li .sub-menu li a {
    padding-left: 45px;
}

.left-nav #nav li .sub-menu li a:hover {
    color: #148cf1;
}

.left-nav #nav li .sub-menu li a i {
    font-size: 12px;
}

.left-nav #nav li a i {
    padding-right: 10px;
    line-height: 20px;
}

.left-nav #nav li .nav_right {
    float: right;
    font-size: 16px;
}

.x-slide_left {
    width: 17px;
    height: 61px;
    background: url(../images/icon.png) 0 0 no-repeat;
    position: absolute;
    top: 200px;
    left: 281px;
    cursor: pointer;
    z-index: 3;
}

.page-content {
    position: absolute;
    /* top: 66px; */
    top: 37px;
    right: 0;
    bottom: 30px;
    left: 407px;
    overflow: hidden;
    zoom: 1;
    z-index: 1;
}

.page-content-bg {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 100;
    display: none;
}

.page-content .tab {
    height: 100%;
    width: 100%;
    /* background: #EFEEF0 url() 0 0 no-repeat; */
    margin: 0px;
}

.page-content .layui-tab-title {
    /*padding-top: 5px;*/
    height: 35px;
    /* background: #EFEEF0 url() 0 0 no-repeat; */
    position: relative;
    z-index: 100;
}

.page-content .layui-tab-title li {
    line-height: 35px;
}

.page-content .layui-tab-title .layui-this:after {
    height: 36px;
}

.page-content .layui-tab-title li .layui-tab-close {
    border-radius: 50%;
}

.page-content .layui-tab-title .layui-this {
    background: #fff url() 0 0 no-repeat;
}

.page-content .layui-tab-bar {
    height: 34px;
    line-height: 35px;
}

.page-content .layui-tab-content {
    position: absolute;
    top: 36px;
    bottom: 0px;
    width: 100%;
    background: #fff url() 0 0 no-repeat;
    padding: 0px;
    overflow: hidden;
}

.page-content .layui-tab-content .layui-tab-item {
    width: 100%;
    height: 100%;
}

.page-content .layui-tab-content .layui-tab-item iframe {
    width: 100%;
    height: 100%;
}

.welcome-footer {
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}

body .layui-layout-admin .footer-demo {
    height: auto;
    padding: 15px 0;
    line-height: 26px;
}

.welcome-footer a {
    padding: 0 5px;
}

table th,
table td {
    word-break: break-all;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    /* background-color: #03387f; */
    background-color: #fff;
    border-top: 1px solid rgba(3, 56, 127, 0.2);
    line-height: 30px;
    color: #333 !important;
    font-size: 14px;
    /*padding-left: 10px;*/
}

.footer .copyright {
    margin-left: 10px;
    /* color: rgba(255, 255, 255, .7); */
    text-align: center;
}

.footer span {
    color: #f00;
    color: #861f41;
    font-weight: bold;
    font-size: 14px;
}

.mCont {
    position: absolute;
    top: 180px;
    left: 90px;
    /* width: 350px; */
    width: 80%;
    /* max-height: 480px; */
    overflow: hidden;
    zoom: 1;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.btn-primary.active {
    color: #fff;
    background-color: #03387f !important;
    border-color: #03387f !important;
}

@media screen and (max-width: 768px) {
    .fast-add {
        display: none;
    }
    .layui-nav .to-index {
        display: none;
    }
    .main .logo a {
        width: 200px;
    }
    .logo a {
        /* text-indent: 2em; */
        height: 38px;
        width: 87px;
        /* color: #fff; */
        /* background: url(../images/RM_logo.svg) no-repeat; */
        margin: 0px 0 0 0px;
    }
    /* .main .left_open {
        float: right;
    } */
    .Smart-Hub-Manager {
        font-family: OpenSans;
        font-size: 14px;
        /* font-weight: 600; */
        font-stretch: normal;
        font-style: normal;
        /* line-height: 1.37; */
        letter-spacing: normal;
        text-align: left;
        color: #861f41;
        margin-top: 20px;
    }
    .logo a img {
        width: 100%;
        max-width: 140px;
        height: 100%;
        max-height: 28px;
    }
    .page-content {
        left: 0px;
    }
    .page-content .layui-tab-content .layui-tab-item {
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;
    }
    .x-so input.layui-input {
        width: 100%;
        margin: 10px;
    }
    .left-nav {
        position: absolute;
        top: 86px;
        bottom: 42px;
        left: -280px;
        z-index: 2;
        padding-top: 10px;
        background-color: #EEEEEE;
        background-color: #fff;
        width: 280px;
        max-width: 280px;
        overflow: auto;
        overflow-x: hidden;
        border-right: 1px solid #e5e5e5;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
        /*width: 0px;*/
    }
    .mCont {
        position: absolute;
        top: 180px;
        left: 0px;
        /* width: 350px; */
        width: 80%;
        /* max-height: 480px; */
        overflow: hidden;
        zoom: 1;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: #fff;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    .modal-dialog {
        width: 400px;
        margin: 30px auto;
    }
    .modal-content {
        /* width: 80%; */
        padding: 30px;
    }
}


/* product-sort */

.info {
    background-color: #d8ecf6 !important;
    font-size: 16px;
    font-weight: bold;
}

.cover {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}


/* .cover{border: 1px solid #bbdde5;background-color:#f4fafb;padding: 10px;overflow: hidden;zoom:1} */

.blue {
    background-color: #f4fafb;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    zoom: 1
}

.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-bottom: 0px solid #ddd;
}

.page-title-box {
    padding: 15px 20px;
    margin: 0 -25px 30px 0px;
    background-color: #ffffff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.pd20 {
    padding: 20px;
}

.card-box {
    padding: 20px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

.font12wt {
    font-weight: bold;
    font-size: 12px;
}

.font14wt {
    font-weight: bold;
    font-size: 14px;
}

.orderapprove {
    width: 400px;
    height: 300px;
    background-color: #f4fafb;
    border: 1px solid #e5e5e5;
    margin: 50px auto;
}

.orderapproveinfo {
    width: 100px;
    height: 50px;
    margin: 80px auto 30px;
    ;
    color: red
}

.main-menu li a cite {
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.sub-menu li a cite {
    font-size: 21px;
    font-weight: normal;
    color: #666;
}

.main-menu li a.nav-a-active cite {
    color: #861f41;
    font-weight: 800;
}

.sub-menu li a.nav-a-active cite {
    color: #861f41;
    font-weight: bold;
}